<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
</head>
<body>
    <h1 th:text="${titulo}"></h1>
    <form action="" method="post">
        <input type="text">
        <input for=""> </label>
        <input type="text" id="id" name="id">
        <input for=""> </label>
        <input type="text" id="username" name="username">
        <input for=""> </label>
        <input type="text" id="password" name="password">
        <input for=""> </label>
        <input type="text" id="email" name="email">
        <input for=""> </label>
        <button type="submit">Resultado</button>
        </form>
</body>
</html>